<!DOCTYPE html>
<html lang="zh">
  <body>
    <div id="header"></div>
      <div id="page2" class="m-1 p-1">
        <table id="stock_table" data-toggle="table" data-pagination="true" data-search="true" data-locale="zh-CN" data-page-size="15" data-page-list="[15, 30, 50, 100]" class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr class="text-center">
              <th class="text-center" scope="col">股票代码</th>
              <th class="text-center" scope="col">股票名称</th>
              <th class="text-center" data-sortable="true" scope="col">现价</th>
              <th class="text-center" data-sortable="true" scope="col">开盘价</th>
              <th class="text-center" data-sortable="true" scope="col">最高价</th>
              <th class="text-center" data-sortable="true" scope="col">最低价</th>
              <th class="text-center" data-sortable="true" scope="col">涨跌幅(%)</th>
              <th class="text-center" data-sortable="true" scope="col">昨收</th>
              <th class="text-center" data-sortable="true" scope="col">成交量(万手)</th>
              <th class="text-center" data-sortable="true" scope="col">换手率(%)</th>
              <th class="text-center" data-sortable="true" scope="col">成交额(万)</th>
              <th class="text-center" data-sortable="true" scope="col">总市值(亿)</th>
              <th class="text-center" data-sortable="true" scope="col">流通值(亿)</th>
              <th class="text-center" data-sortable="true" scope="col">模型匹配</th>
              <th class="text-center" scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            {% for row in rows %}
              <tr>
                <td class="text-center">{{ row.code }}</td>
                <td class="text-center">{{ row.name }}</td>
                <td class="text-right">{{ row.trade }}</td>
                <td class="text-right">{{ row.open }}</td>
                <td class="text-right">{{ row.high }}</td>
                <td class="text-right">{{ row.low }}</td>
                <td class="text-right">{{ row.changepercent }}</td>
                <td class="text-right">{{ row.settlement }}</td>
                <td class="text-right">{{ row.volume }}</td>
                <td class="text-right">{{ row.turnoverratio }}</td>
                <td class="text-right">{{ row.amount }}</td>
                <td class="text-right">{{ row.mktcap }}</td>
                <td class="text-right">{{ row.nmc }}</td>
                <td class="text-right">{{ row.mxpp }}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-primary btn-sm">买入</button>
                  <button type="button" class="btn btn-success btn-sm">卖出</button>
                  <button type="button" class="btn btn-warning btn-sm">撤单</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      </div>
      <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript">
          $("#header").load("/header");
      </script>
      <script type="text/javascript">
        //这里用setTimeout代替ajax请求进行演示
        setTimeout(function(){location.reload()},300000); 
      </script>
  </body>
</html>